body {
  font-family: "Fredoka One", cursive;
}
.pokemons__container {
  max-width: 1200px;
}

.pokemon__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pokemon__item {
  width: 20%;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  transition: transform 0.5s ease;
}

.pokemon__item:hover {

transform: scale(1.2);
}

.pokemon__img {
  width: 150px;
  object-fit: contain;
}
